---
import Badge from "@components/Badge.astro";
import Github from "@icons/Github.astro";
import Twitter from "@icons/Twitter.astro";
import LinkedIn from "@icons/LinkedIn.astro";
import Gmail from "@icons/Gmail.astro";
import Container from "@components/Container.astro";
---

<Container sectionId="inicio">
    <div class="mx-auto w-[200px] h-[200px]">
        <img class="w-full rounded-full" src='https://avatars.githubusercontent.com/u/111069220?v=4' alt="Angelito91 avatar" />
    </div>
    <h1
        class="flex flex-col md:flex-row text-3xl items-center gap-2 sm:text-5xl font-bold"
    >
        Hola, soy 
        <span class="text-purple-400">Angel</span>

    </h1>
    <p class="text-lg sm:text-2xl text-pretty">
        Soy un desarrollador <span class="text-purple-400">Software Developer</span
        >. Me encanta el <span class="text-purple-400">desarrollo web</span>
        y la creación de diversas aplicaciones.
    </p>
    <div class="flex flex-wrap gap-3">
        <Badge link="https://github.com/Angelito91" text="Github">
            <Github />
        </Badge>
        <Badge link="https://twitter.com/Angelito23756" text="Twitter">
            <Twitter />
        </Badge>
        <Badge link="mailto:portuondoangel@gmail.com" text="Di hola">
            <Gmail />
        </Badge>
        <Badge
            link="https://www.linkedin.com/in/angel-portuondo-7b51b62a7/"
            text="Contratame"
        >
            <LinkedIn />
        </Badge>
    </div>
</Container>
