---
import Layout from "../layouts/Layout.astro";
import Intro from "@components/Intro.astro";
import About from "@components/About.astro";
import Skills from "@components/Skills.astro";
import Projects from "@components/Projects.astro";
import SectionContainer from "@components/SectionContainer.astro";
---

<Layout
	title="Angelito - Portfolio de un desarrollador"
	descriptcion="Mi portfolio de desarrollador web full stack"
>
	<main class="min-h-screen w-full md:w-3/4 md:mx-auto">
		<SectionContainer id="inicio">
			<Intro />
		</SectionContainer>
		<SectionContainer id="proyectos">
			<Projects />
		</SectionContainer>
		<SectionContainer id="habilidades">
			<Skills />
		</SectionContainer>
		<SectionContainer id="sobre">
			<About />
		</SectionContainer>
	</main>
</Layout>
