---
import Title from "@components/Title.astro";

import LaptopIcon from "@icons/Laptop.astro";
import UserIcon from "@icons/User.astro";

const myYears = new Date().getFullYear() - 2006;
---

<Title text="Sobre mí" Icon={UserIcon} />

<div class="md:flex-row flex flex-col-reverse items-center">
    <div>
        <p class="md:w-3/4 text-pretty my-5 text-lg">
            Me llamo Angel Alberto pero puedes decirme Angelito. Empecé en la
            programación por un concurso de la escuela a los 15 años.
            Actualmente tengo {myYears} años estoy en <span
                class="text-brand-blue"
                >búsqueda de experencia en este sector</span
            >
        </p>
        <p class="md:w-3/4 text-pretty my-5 text-lg">
            En todo este tiempo pude crear proyectos que me gustan y me
            apasionan, los cuales puedes ver en mis <span
                class="text-brand-blue">repositorios de GitHub</span
            >
        </p>
    </div>
    <div class="text-brand-blue">
        <LaptopIcon />
    </div>
</div>
