---
interface Props {
    link: string;
    text: string;
    classStyle?: string;
}

const { link, text } = Astro.props;
---

<a
    class="bg-white/3 dark:border-white/10 gap-x-2 md:py-2 md:px-4 md:text-base hover:scale-110 hover:bg-white/10 flex items-center justify-center px-2 py-1 text-xs transition border border-gray-300 rounded-full"
    target="_blank"
    href={link}
>
    <slot />
    {text}
</a>
