---
interface Props {
    link: string;
    text: string;
    classStyle?: string;
}

const { link, text } = Astro.props;
---

<a
    class="bg-white/3 border dark:border-white/10 border-gray-300 rounded-full flex justify-center items-center gap-x-2 py-1 px-2 md:py-2 md:px-4 text-xs md:text-base transition hover:scale-110 hover:bg-white/10"
    target="_blank"
    href={link}
>
    <slot />
    {text}
</a>
