---
    const currentYear = new Date().getFullYear()
---

<footer class="flex justify-center items-center md:p-3">
    <div
        class="flex items-center justify-center bg-black/80 rounded-lg md:px-2 w-full md:w-3/4 text-sm md:text-lg p-2"
    >
        <p class="text-slate-400">
            © {currentYear} Todos los derechos reservados
            <span class="text-purple-400">{"<Angelito />"}</span>
        </p>
    </div>
</footer>
