---
const currentYear = new Date().getFullYear();
---

<footer class="md:p-3 flex items-center justify-center">
  <div
    class="bg-black/80 md:px-2 md:w-3/4 md:text-lg flex items-center justify-center w-full p-2 text-sm rounded-lg"
  >
    <p class="text-slate-400">
      © {currentYear} Todos los derechos reservados
      <span class="text-purple-400">{"<Angelito />"}</span>
    </p>
  </div>
</footer>
