---

const navLinks = [
  {
    title: "Inicio",
    label: "inicio",
    url: "/#inicio",
  },
  {
    title: "Proyectos",
    label: "proyectos",
    url: "/#proyectos",
  },
  {
    title: "Habilidades",
    label: "habilidades",
    url: "/#habilidades",
  },
  {
    title: "Sobre mi",
    label: "sobre",
    url: "/#sobre",
  },
];
---

<script>
  const sections = document.querySelectorAll("section");
  const navItems = document.querySelectorAll("header nav div a");

  const callback = (entries: any[]) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        navItems.forEach((item) => {
          if (item.getAttribute("aria-label") === entry.target.id) {
            item.classList.add("text-brand-blue", "bg-slate-500/30");
          } else {
            item.classList.remove("text-brand-blue", "bg-slate-500/30");
          }
        });
      }
    });
  };

  const observer = new IntersectionObserver(callback, {
    root: null,
    rootMargin: "0px",
    threshold: 0.3,
  });

  sections.forEach((section) => {
    observer.observe(section);
  });

  // Cleanup function
  document.onvisibilitychange = () => {
    if (document.visibilityState === "hidden") {
      observer.disconnect();
    } else {
      sections.forEach((section) => {
        observer.observe(section);
      });
    }
  };
</script>

<header class="sticky top-0 z-10 w-full bg-black/30">
  <nav class="flex items-center justify-between md:w-3/4 p-5 md:mx-auto font-bold">
    <a class="font-mono text-brand-blue md:text-lg text-xs" href="/">{"<Angelito/>"}</a>
    <div class="flex items-center gap-1">
      {
        navLinks.map((link) => (
          <a
            class="md:text-lg text-sm px-2 text-center transition rounded-full hover:bg-slate-500/30"
            aria-label={link.label}
            href={link.url}
          >
            {link.title}
          </a>
        ))
      }
    </div>
  </nav>
</header>

<style>
  header {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      @apply backdrop-blur-lg  shadow-sm  border-b border-neutral-800;
    }
  }
</style>
