---
import Badge from "@components/Badge.astro";

import GithubIcon from "@icons/Github.astro";
import TwitterIcon from "@icons/Twitter.astro";
import LinkedInIcon from "@icons/LinkedIn.astro";
import GmailIcon from "@icons/Gmail.astro";
---

<div class="flex md:flex-row-reverse flex-col items-center justify-between gap-5 ">
    <div class="md:w-[300px] md:h-[300px] w-[200px] h-[200px] ">
        <img
            class="w-full rounded-lg aspect-square"
            loading="lazy"
            src="/avatar.webp"
            alt="Angelito91 avatar"
        />
    </div>

    <div class="flex flex-col w-3/4 gap-3 ">
        <h1 class="text-3xl font-bold sm:text-5xl">
            👋 Hola, soy
            <span class="text-brand-blue">Angel</span>
        </h1>

        <p class="text-lg sm:text-2xl text-pretty">
            Soy un desarrollador de <span class="text-brand-blue">Software</span
            > de Cuba. Me encanta el desarrollo de <span class="text-brand-blue"
                >aplicaciones de diversas áreas</span
            >.
        </p>

        <div class="flex flex-wrap items-center gap-3">
            <Badge link="https://github.com/Angelito91" text="Github">
                <GithubIcon />
            </Badge>
            <Badge link="https://twitter.com/Angelito23756" text="Twitter">
                <TwitterIcon />
            </Badge>
            <Badge link="mailto:portuondoangel@gmail.com" text="Di hola">
                <GmailIcon />
            </Badge>
            <Badge
                link="https://www.linkedin.com/in/angel-portuondo-7b51b62a7/"
                text="Contratame"
            >
                <LinkedInIcon />
            </Badge>
        </div>
    </div>
</div>
