---
interface Props {
    id: string;
    background?: string;
}

const { id, background } = Astro.props;
---

<section id={id} class=`${background}`>
    <div
        class=`flex flex-col justify-center gap-5 px-2 py-0 md:py-24 md:px-5 md:w-3/4 w-full min-h-screen md:mx-auto`
    >
        <slot />
    </div>
</section>
