---
interface Props {
    id: string;
}

const { id } = Astro.props;
---

<section
    id={id}
    class="md:w-3/4 md:py-24 md:px-5 flex flex-col justify-center w-full gap-5 px-2 py-10 mx-auto"
>
    <slot />
</section>
