---
interface Props {
    text: string;
    Icon?: (_props: Record<string, any>) => any;
}

const { text, Icon } = Astro.props;
---

<h2 class="sm:text-3xl flex items-center gap-3 text-xl">
    <Icon />
    {text}
</h2>
