---
import "@fontsource-variable/nunito";

import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

interface Props {
	title: string;
	descriptcion: string;
}

const { title, descriptcion } = Astro.props;
---

<!doctype html>
<html class="scroll-smooth" lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={descriptcion} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="./favicon.svg" />
		<title>{title}</title>
	</head>
	<body class="relative bg-slate-950">
		<div
			class="-z-10 w-40 blur-[200px] top-6 h-40 rounded-full bg-brand-blue absolute pointer-events-none select-none md:top-32 left-0"
		>
		</div>
		<div
			class="-z-10 w-60 blur-[200px] h-60 rounded-full bg-brand-blue absolute pointer-events-none select-none top-80 md:top-56 right-0"
		>
		</div>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: dark;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	body {
		font-family: "Nunito Variable", sans-serif;
	}
</style>
